<div class = "confirm_container">
<h3>以下の内容でよいですか？</h3>
  <%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
    <%= form.hidden_field :content %>
    <%= form.hidden_field :image_cache %>

    <p><%= image_tag(@picture.image) %></p>
    <p>Content:<%= @picture.content %></p>
    <%= form.submit  "Confirm", class: "btn btn-primary"%>
  <% end %>

  <div class = "button_margin">
    <%= form_with(model: @picture, url: new_picture_path, local: true, method: 'get') do |form| %>
      <%= form.hidden_field :image_cache %>
      <%= form.hidden_field :content %>
      <%= form.submit "Back", name: 'back', class: "btn btn-success"%>
    <% end %>
  </div>
</div>
